.Rproj.user
.Rhistory
.RData
.Ruserdata
# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron